{% extends "layout.html" %}

{% block title %}Página de Inicio - Mi Sitio{% endblock %}

{% block content %}

<menu class="MenuInventario">
    <ul>
        <li><a href="">Generar Reporte CVS</a></li>
        <li><a href="">Generar Reporte Excel</a></li>
    </ul>
</menu>


    <section class="Cards_Inventori_Container">
        <div class="Card_Inventario">
            <div class="descargas">
                <a class="EXCELUNO" href="">
                <img src="{{ url_for('static', filename='iconos/excel.png') }}" alt="BICI MONTAÑA XD">
             </a>
            </div>
             
            <div class="Info_Inventario">
                <div>
                    <h1>BICI MONTAÑA XD</h1>
                    <span class="desp">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus eaque deserunt nihil id molestiae dignissimos illum voluptatem illo, eius iste perferendis ullam necessitatibus aspernatur eum dolorem ad earum fugiat numquam?
                    </span>
                </div>
                <div></div>
                <div class="Estadisticas_Inventario">
                    <div class="Iz" >
                        <span>Precio Total</span>
                        <span>3,000,000.00</span>
                    </div>
                    <div class="Der">
                        <span>STOCK</span>
                        <span>3,000</span>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}